@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

* {
    margin: 0;
    box-sizing: border-box;

    body{
        font-family: 'aclonica', sans-serif;
        padding: 90px 20px 0;
    }
  }

.header {
    background-color: #FFFFFF;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;

    position: fixed;

        .nav {
            display: flex;
            justify-content: space-evenly;

            max-width: 992px;
            margin: 0 auto;

            .logo {
                padding: 0 40px;
                line-height: 80px;
            }

            .nav-link {
                color: #000000;
                text-decoration: none;
            }

            .nav-menu {
                display: flex;
                margin-right: 40px;
                list-style: none;

                .nav-menu-item {
                    font-size: 20px;
                    margin: 0 10px;
                    line-height: 80px;
                    text-transform: uppercase;
                    width: max-content;

                    .nav-menu-link {
                        padding: 8px 12px;
                        border-radius: 3px;

                        &:hover {
                            background-color: #757780;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
}

.nav-toggle {
    color: #000000;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
  }

  @media (max-width: 1035px) {
    body {
        padding-top: 70px;
    }

    .header {
        height: 60px;

        .nav {

            .logo {
                font-size: 25px;
                padding: 0 20px;
                line-height: 60px;
            }

            .nav-menu {
                flex-direction: column;
                align-items: center;
                margin: 15px 0;
                background-color: #FFFFFF;
                position: fixed;
                top: 60px;
                width: 100%;
                padding: 20px 0;

                height: calc(100% - 60px);
                overflow-y: auto;

                left: 100%;
                transition: left 0.3s;

                .nav-menu-item {
                    line-height: 70px;

                    .nav-menu-link {
                        &:hover {
                            background: none;
                            color: #757780;
                        }
                    }
                }
            }

            .nav-toggle {
                display: block;
              }
            
              .nav-menu_visible {
                left: 0;
              }
            
              .nav-toggle:focus:not(:focus-visible) {
                outline: none;
              }
        }
    }
  }

  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    .img-biografia {
        img {
            margin: 20px 0;
            max-height: auto;
            width: 100%;
        }
    }

    .biografia{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 20px;

        h1{
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            font-size: 60px;
            margin: 30px;
        }
        
        p{
            font-size: 30px;
        }
    }
  }